<!DOCTYPE html>
<html>
<head>
	<script src="/socket.io/socket.io.js"></script>
	<title> Hill Runners!</title>
	 <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	 <link rel="stylesheet" type="text/css" href="../public/style.css">
</head>
<body>
	<div class = "container" id = "phoneContainer">
		<div class= "container" id= "phone">
			<div id = "gameconsole"></div>
			<script src= "http://unpkg.com/react@16.0.0/umd/react.development.js"></script>
			<script src= "http://unpkg.com/react-dom@16.0.0/umd/react-dom.development.js"></script>
			<script src= "../public/script/JSX.js"></script>

 			<h1>Level: </h1>
			<h2>Exp: </h2>
			<div class="container">
			  <!-- Trigger the modal with a button -->
			  <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal" id="makeQuest">Make Quest</button>
			  <!-- Modal -->
			  <div class="modal fade" id="myModal" role="dialog">
			    <div class="modal-dialog modal-lg">
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title">Make Quest</h4>
			        </div>
			        <div class="modal-body">

				          <form  id="questForm">
				          	  <label>Name</label>
	                          <input type="text" placeholder="Enter Name" id="name" class="form-control" required>

	                          <label>Describe your quest </label>
							  <textarea placeholder="Describe Your Quest Here." rows="3" class="form-control" id="description" required></textarea>

							  <label>Reward</label>
	                          <input type="" placeholder="Enter Name" id="reward" class="form-control" required>

	                          <label>Address</label>
	                          <input type="text" placeholder="Enter Where To Meet" id="address" class="form-control" required>

							  <input type = "submit" name="Submit Quest!" id= "submitQuest">
						</form>

			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        </div>
			      </div>
			    </div>
			  </div>
			</div>

			<div class="container" id = "questLog">
				<ul id = "quests">
				</ul>
			</div>

			<!-- maps code -->
            <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%- gmapsCredential %>&callback=initMap">
            </script>
            <script src= " ../public/script/maps.js"></script>

        </div>

	</div>
</body>
</html>

<!-- socket code -->
<script>
/*Note: socket code needs access to these global variables:
ID: your id.
*/
    var socket = io.connect("localhost:8000");
    socket.on('connect',()=>{
                //Bind your ID to your socket when you connect so the server knows who you are.
        socket.emit('add_username',ID);

    });
    //When a new quest is assigned:
    $('input#submitQuest').on('click',function(event){
        questObject= {
            'name': $('input#name').val(),
            'description':$('input#description').val(),
            'reward':$('input$reward').val(),
            'requester':ID,
            'hillrunner':'', // Empty for now.
            'address':$('input$address').val()

        };
        socket.emit('assign_quest',questObject);
    });

    //When YOU accept a quest:
    $('ul#quests > li').on('click',function(event){
    	console.log(event.currentTarget.id);
    	questId = event.currentTarget.id;
    	socket.emit('accept_quest',{'id':questId,'hillrunner':ID});
    	//Disable YOUR makeQuest functionality.
    	$(`#makeQuest`).on('click',function() {
   			 $(this).prop("disabled",true);
		});
    });

    socket.on('user_accepted_quest',(quest)=>{
        //what to do when someone accepted a quest
        // don't display that quest anymore
         $(`ul#quests > li#${quest.id}`).remove();
    });

    socket.on('user_assigned_quest',(quest)=>{
        //What to do when someone made a new quest.
        $(`ul#quests `).append(`<li id ="${quest.id}">${quest.name}, ${quest.description}, ${quest.reward}, ${quest.address} </li>`)
    });

    socket.on('quest_completed',(quest)=>{
        //What to do when YOU completed a quest.

    });
</script>
