<!DOCTYPE html>
<html>
<head>
	<title> Hill Runners!</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	 <link rel="stylesheet" type="text/css" href="../public/style.css">
</head>
<body>
	<div class = "container" id = "phoneContainer">
		<div class= "container" id= "phone">
			<div id = "gameconsole"></div>
			<script src= "http://unpkg.com/react@16.0.0/umd/react.development.js"></script>
			<script src= "http://unpkg.com/react-dom@16.0.0/umd/react-dom.development.js"></script>
			<script src= "../public/script/JSX.js"></script>
            <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%- gmapsCredential %>&callback=initMap">
            </script>
            <script src= " ../public/script/maps.js"></script>

        </div>

	</div>
</body>
</html>
