body
{
    min-height: 100%;
    margin: 0;
    padding: 0;

    background-color: #aac4d1;
}

html
{
    height: 100%;
}

.bg-primary
{
    color:  black;
/*   background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: linear-gradient(to left, #7b4397, #dc2430);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

#phoneContainer
{
    height: 100vh;
    margin: 0 auto;
}

#phone
{
    width: 100%;
    height: 100%;

    background-color: #ebc137;
    /* aesthetics as you wish */
}

#makeQuest
{
    position: absolute;
    top: 10px;
    right: 120px;
}

#tablestyle
{
    overflow-y: scroll;

    height: 200px;

    background: rgba(255, 255, 255, .7);
}


/*
tbody,
thead{
    width: 300px;
}*/


/*tbody > tr {
    cursor: pointer;
}

.result{
    margin-top:20px;
}*/
