body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #AAC4D1;
}
html {
    height: 100%;
}

#phoneContainer {
	margin: 0 auto;
	height: 100vh;
}

#phone {
    width:100%;
    height:100%;
    background-color: #EBC137; /* aesthetics as you wish */
 }

#makeQuest {
    position: absolute;
	top: 10px;
	right: 120px;
 }

#tablestyle{
	background: rgba(255,255,255,0.7);
	 overflow-y: scroll;
   	 height: 100px;
}
/*
tbody,
thead{
	width: 300px;
}*/

 tbody > tr {
    cursor: pointer;
}

.result{
    margin-top:20px;
}

